<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ic.alang.freebord.mapper.FreeBoardSQLMapper">

	<select id="createFreePK" resultType="int">
		SELECT ic_free_board_seq.nextval FROM Dual
		
	</select>

	<insert id="freeWriteContent">
		INSERT INTO ic_free_board VALUES(
		    #{free_no},
		    #{member_no},
		    #{free_title},
		    #{free_content},
		    0,
		    SYSDATE
		)
	</insert>
	
	<select id="getFreeList" resultType="com.ic.alang.vo.FreeBoardVo">
	   SELECT * FROM ic_free_board ORDER BY free_no DESC
	</select>
	
	<select id="getFreeBoardByNo" resultType="com.ic.alang.vo.FreeBoardVo">
	SELECT * FROM ic_free_board WHERE free_no = #{no}
	
	</select>
	
	<delete id="deleteByNo">
		DELETE FROM ic_free_board WHERE free_no = #{no}
	</delete>
	
	<update id="update">
		UPDATE ic_free_board 
		SET free_title = #{free_title} ,
		free_content = #{free_content}
		WHERE free_no = #{free_no}
	</update>
	
	<update id="freeviewcount">
		UPDATE ic_free_board SET free_viewcount = free_viewcount + 1
		WHERE free_no = #{no}
	</update>
	
	<!-- 댓글시작 -->
	<insert id="freeReplyWriteContent">
		INSERT INTO ic_free_reply VALUES(
   			 ic_free_reply_seq.nextval,
			#{free_no},
			#{member_no},
			#{free_reply_content},
			SYSDATE
		)
	</insert>
	
	<delete id="deleteReplyByNo">
		DELETE FROM ic_free_reply
		WHERE free_reply_no = #{free_reply_no}
		
	</delete>
	
	<update id="updateReply">
		UPDATE free_reply_no
		SET free_reply_content = #{free_reply_no}
		WHERE free_reply_no = #{free_reply_no}
	</update>
	
	<select id="getFreeReplyListByBoardNo" resultType="com.ic.alang.vo.FreeReplyBoardVo">
		SELECT * from ic_free_reply
		where free_no = #{free_no}
		
	</select>
	
	<!--  이미지시작  -->
	<insert id="registerFreeImage">
	INSERT INTO ic_free_file VALUES (
    ic_free_file_seq.nextval,
    #{free_no},
    #{member_no},
    #{free_file_path},
    #{fraa_file_name}
	)
	</insert>

	<select id="getFreeBoardImageByFreeNo" resultType="com.ic.alang.vo.FreeImageBoardVo">
		SELECT * FROM  ic_free_file WHERE free_no=#{free_no}
	
	</select>
</mapper>